@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@*<Foo Tag="A">
        <Foo Tag="A1">
            <Foo Tag="A1x"></Foo>
            <Foo Tag="A1y"></Foo>
            <Foo Tag="A1z">
                <Foo Tag="A1z#" />
            </Foo>
        </Foo>
        <Foo Tag="A2">
        </Foo>
        <Foo Tag="A3">
            <Foo Tag="A3x" />
            <Foo Tag="A3y" />
        </Foo>
    </Foo>*@

<XamzorView>

    <StackPanel>

        <Border BackgroundColor="Red" Width="200" Height="40" />
        <Border BackgroundColor="DarkRed" MaxWidth="300" Height="40" Margin="@Thickness(350, 10)" />
        <Border BackgroundColor="DarkRed" MaxWidth="300" Height="40" />
        <Border BackgroundColor="DarkRed" Width="200" Height="40" HorizontalAlignment="@Alignment.Start" />
        <Border BackgroundColor="DarkRed" Width="200" Height="40" HorizontalAlignment="@Alignment.Center" />
        <Border BackgroundColor="DarkRed" Width="200" Height="40" HorizontalAlignment="@Alignment.End" />

        <Border BorderColor="DarkGreen" BorderThickness="@Thickness(10)" Padding="@Thickness(10)" CornerRadius="@Thickness(20)"
                HorizontalAlignment="@Alignment.Stretch" Width="400">
            <StackPanel Orientation="@Orientation.Horizontal" HorizontalAlignment="@Alignment.Center" Spacing="10">
                <Border Width="50" Height="50" BackgroundColor="Green" />
                <Border Width="50" Height="50" BackgroundColor="Green" />
                <Border Width="50" Height="50" BackgroundColor="Green" />
            </StackPanel>
        </Border>

    </StackPanel>

</XamzorView>